body{
    font-family: 'Titillium Web', sans-serif;
}

h1{
    font-size: 66px;
    font-weight: 600;
    line-height: 80px;
    padding-top: 90px;
}

h2{
    font-size: 48px;
    margin-bottom: 30px;
}

p{
    font-size: 18px;
    line-height: 1.8;
    padding-top: 30px;
    margin-bottom: 0;
}

a:hover{
    text-decoration: none;
}

section{
    padding: 120px 0;
}

.bg-light-grey{
    background-color: #f5f5f5;
}

.topmargin-xs{ margin-top: 15px; }
.topmargin-sm{ margin-top: 30px; }
.topmargin-lg{ margin-top: 60px; }

.boton{
    font-size: 14px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}

.boton-blanco{
    background-color: white;
    color: black;
    border: 2px solid white;
}

.text-dark{
    color: rgb(153, 146, 146);
}

.text-black{
    color: rgb(13, 14, 15);
}

.navbar{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
}

.nav-link{ color: black;}

.nav-link:hover{color: grey;}

.logo{
    min-width: 60px;
    max-width: 80px;
}

.navbar-toggler { font-size: 40px;}

.navbar-toggler:hover{ outline: none;}

#hero{
    background-image: url('imagenes/principal.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 500px;
    color: white;
}

#hero p{
    color: white;
}

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}

.portfolio-container {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

.img-fluid{
   width: 100%;
}

.portfolio-container img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.portfolio-container:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.portfolio-details {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
}

.portfolio-details h2 {
margin-bottom: 0px;
}

.portfolio-details a h2, .portfolio-details a p {
    color: white;
}

.member-container{
    position: relative;
    margin: 10px 0;
}

.member-details{
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
}

.bg-dark{
    background-color: #1a1a1a !important;
}

#login{
    padding-left: 70px;
}

#footer{
    padding: 80px 0;
    text-align: center;
    color: white;
}

#footer a{
    color: white;
}

#footer a:hover{
    color: white;
}

#footer .list-inline .list-inline-item{
    padding: 10px 15px;
}

#logout{
    display: none;
}

/* Media Tablets */
@media (max-width: 575.98px){
    .footer-menu{
        display: block !important;
        padding: 20px 0 !important;
        font-size: 20px;
    }
}

/* Media Effects */
@media (max-width: 750px){
    .container-dolly{
        display:none;
    }
    .image-wrap{
        display: none;
    }
}


/* Dolly Zoom */
.container-dolly{  
    width: 100%;
  max-width: 1060px;
  background: #000;
  overflow: hidden;
  margin: 25px auto;
  position: relative;
  height: 600px;
}
  .container-dolly:hover .background {
    -webkit-transform: scale(0.8) translate(-50%, -50%);
        -ms-transform: scale(0.8) translate(-50%, -50%);
            transform: scale(0.8) translate(-50%, -50%);
  }
  .container-dolly:hover .front {
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
  }
  
  .background {
    background: url(https://i.redd.it/ngu5ofssout01.png) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 1411px;
    height: 717px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;
    -webkit-transition: -webkit-transform 1500ms;
            transition: transform 1500ms;
  }
  
  .front {
    background: url(https://static.escapeqr.com/img/btc_3stack_288.png) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;   
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 30%;
    height: 50%;
    width: 30%;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 1500ms;
            transition: transform 1500ms;
  }
  
  /* Ken Burns */
  .image-wrap {
    width: 100%;
  max-width: 1060px;
  overflow: hidden;
  margin: 25px auto;
  position: relative;
  height: 600px;
  }
  
  .image-wrap img {
    width: 100%;
    animation: move 40s ease;
    -ms-animation: move 40s ease;
    -webkit-animation: move 40s ease;
    -moz-animation: move 40s ease;
    position: absolute;
  }
  
  @-webkit-keyframes move {
    0% {
      -webkit-transform-origin: bottom left;
      -moz-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
      -o-transform-origin: bottom left;
      transform-origin: bottom left;
      transform: scale(1.0);
      -ms-transform: scale(1.0);      
      -webkit-transform: scale(1.0);      
      -o-transform: scale(1.0);      
      -moz-transform: scale(1.0);
    }
    100% {
      transform: scale(1.2);
      -ms-transform: scale(1.2);      
      -webkit-transform: scale(1.2);      
      -o-transform: scale(1.2);      
      -moz-transform: scale(1.2);
    }
  }

  #btVolver{
    margin-left: 0%;
  }

  #btPdf{
    margin-right: 20%;
  }