*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.marco {
  display: grid;
  border-style: solid;
  border-color: red;
  grid-template-columns: 250px auto;
  grid-template-rows: 150px 40px auto 40px;
  grid-gap: 10px;
  width: 100vw;
  height: 100vh;
}

.encabezado {
  border-style: solid;
  border-color: blue;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.migas {
  border-style: solid;
  border-color: yellow;
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}

.lado {
  border-style: solid;
  border-color: violet;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.contenido {
  border-style: solid;
  border-color: violet;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.pie {
  border-style: solid;
  border-color: aqua;
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
}
