/* --------FOrmato de elejericio css-----------*/
.pos-static {
background-color: yellow;
position: static;
left: 50px;
top: 60px;
/* Es el normal de html/css, que se aplica por defecto
y no aplica ningún desplazamiento - ignora el left */
}

.pos-relative {
background-color: yellow;
position: relative;
left: 50px;
top: 60px;
/* Este sitio me lo guardan, y me voy de paseo flotando,
mantiene como punto de referencia donde hubiera estado con
su ubicación por defecto con static. Se comporta como display block */
}

.pos-absolute {
background-color: yellow;
position: absolute;
font-size: 10px;
left: 100px;
top: 60px;
/* Libero mi sitio original, y me voy de paseo flotando,
ajusta el ancho del elemento al contenido como display flex
cambio mi punto de referencia al primer elemento de la pagina (body).
PROBAR: Le podemos cambiar el anclaje de referencia si lo incluimos
dentro de un elemento posicionado (no static) */
}

.pos-fixed {
background-color: yellow;
position: fixed;
right: 50px;
bottom: 60px;
/* Libero mi sitio original, y me voy de paseo flotando,
ajusta el ancho del elemento al contenido como display flex
cambio mi punto de referencia al marco o viewport. */
}

.pos-sticky {
background-color: yellow;
position: sticky;
margin-left: 50px;
margin-top: 60px;
top: 50px;
/* mantiene su espacio original, se desplaza flotando
en modo block (el ancho es el del contenedor) y se vuelve
fixed al llegar a la posicion top */
}

.ancestro {
position: absolute;
font-size: 20px;
background: aqua;
margin-left: 15%;
margin-top: 2%;
}
